* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  padding-top: 50px;
  height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.parahraph {
  color: white;
  font-size: 26px;
}

.link {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid coral;
  background-color: coral;
  color: #ffffff;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #ffffff;
  color: coral;
}